<div class="footer">
	<div class="row">
	  <div class="span10">
		  <small>
				<%= link_to "Premium Grade Cabinetry", "#" %>
				
			</small>
		</div>
	 
	  <div class="span2">
	  	<small>
	  		<%= link_to "+", new_user_registration_path %>
	  		<% if user_signed_in? %>
	  			<ul>
		  			<li><%= link_to "Add Photo", new_photo_path %></li>
		  			<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
		  			<li><%= link_to "LogOut", destroy_user_session_path, method: :delete  %></li>
	  			</ul>
	  		<% else %>
	  			<%= link_to ".", new_user_session_path %>
	  		<% end %>
	  	</small>
	  </div>
	</div>
</div>
 